div#window_edit_company.popup
	h3.popupHeader Edit company
	p name, eaernings
	span
		form(id="form_edit_company")
			span
				|name
				input(name="name" placeholder="name" style="width:100px" autofocus)
			br 
			br
			//- |type:   
			//- input(name="nc_type" type="radio" value="main")
			//- |main   
			//- input(name="nc_type" type="radio" value="sub..." require)
			//- |sub
			span
				|earnings  
				input(name="earnings" type="number" placeholder="earnings" style="width:50px")
			br
			br
			span.buttons_container
				button.button.cancel(type="button") cancel
				button.button.validate_form#edit_company(type="button") edit
