doctype !!! 5
html
  head
    title test

    script(type='text/javascript',defer , src='js.js')
    
    link(href='style.css', rel='stylesheet')

  body
    
    h1 TEST

    div#menu 
        div.button wiev all copany
        div.button wiev tree of one company
        div.button edit company

    div#content 
        div#companies_list
            h3 list of companies
            ul.list
                li#0(name = 'root')
                    span
                        button.button.show_form(name='add_company') add
                        if list.length
                            //- button.button.del_company#del_all delAll
                            button.button.show_children >>>

        
        include ./formForAddChild
        include ./formForEdit