doctype !!! 5
html
  head
    title test

    script(type='text/javascript',defer , src='js.js')
    
    link(href='style.css', rel='stylesheet')

  body
    
    h1 TEST

    div#menu 
        div.button wiev all copany
        div.button wiev tree of one company
        div.button edit company

    div#content 
        div#companies_list
            h3 list of companies
            ul.list#root
                li
                    span#0
                        button.button.add_company(type='button') add
                        if list.length
                            button.button.show_children#show_children(type='button') >>>

        include ./formForAddChild