<!DOCTYPE !!! 5>
<html>
  <head>
    <title>test</title>
    <script type="text/javascript" defer="defer" src="js.js"></script>
    <link href="style.css" rel="stylesheet"/>
  </head>
  <body>
    <script> </script>
    <h1>list of companies</h1>
    <div id="menu">
      <div class="button">add new childcompany </div>
      <div class="button">add new company</div>
      <div class="button">add new parents company</div>
      <div class="button">delete company</div>
      <div class="button">wiev all copany</div>
      <div class="button">wiev tree of one company</div>
      <div class="button">edit company</div>
    </div>
    <div id="content"> <span id="companies_list">
        <ul id="root" class="list">
          <li></li>
        </ul>
        <!--include ./list.jade--></span>
      <div id="window_add_company"> 
        <h3>Add company</h3>
        <p>name, eaernings</p><span>
          <form id="form_add_company"><span>name
              <input name="name" placeholder="name" autofocus="autofocus" style="width:100px"/></span><br/><br/><span>earnings  
              <input name="earnings" type="number" placeholder="earnings" style="width:50px"/></span><br/><br/><span id="buttons_container">
              <button id="cancel" type="button" class="button">cancel</button>
              <button id="create_company" type="button" class="button">save</button></span>
          </form></span>
      </div>
    </div>
  </body>
</html>